[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
requests = "*"
networkx = "*"
scipy = "*"
pandas = "*"
geopandas = "*"
shapely = "*"
rtree = "*"
scikit-gstat = "*"

[dev-packages]

[requires]
python_version = "3.10"
